<div class="row" style="margin-left: 20px;">
    <form action="/admin/generate-fakes" method="post">
        <h2>Create Posts :</h2>
        <div class="form-group">
            <input type="number" name="amount" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>